/* src/components/ProductTable/ProductTable.css */

.button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

button {
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s;
    margin: 5px;
}

button.edit-button {
    background-color: #007bff;
}

button.remove-button {
    background-color: #dc3545;
}

button:hover {
    transform: scale(1.05);
}

button:focus {
    outline: none;
}

button:active {
    transform: scale(0.95);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #343a40;
    color: #fff;
    text-align: center;
}

td {
    text-align: center;
}

tr:hover {
    background-color: #f1f1f1;
}